# Dependencies
node_modules/
jspm_packages/

# Production build outputs
dist/
release/
out/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
src/hook/KeystraHook.Tests/bin/
src/hook/KeystraHook.Tests/obj/
